<% title "Comment" %>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <%= link_to "Edit", edit_comment_path(@comment) %> |
  <%= link_to "Destroy", @comment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", comments_path %>
</p>
